html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
}

header {
	background-color: #e7001d ;
	color: #fff;
	text-align: center;
	font-size: 0.5em;

}

header p{
	margin:0;
}

banner {
	position: relative;
	width: 100%;
}

.medallion {
	width: 15%;
}

nav li {
background-color: #222;
color: #fff;
text-decoration: none;
list-style-type: none;
display: inline;
float: left;
width: 50%;
margin: 0;
border-right: 1px solid black;
border-bottom: 1px solid black;
padding: 0.5em;
}

nav ol {
	overlfow: hidden;
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

a {
	color: #fff;
}

h1 {
	margin: 0;
}

.banner img{
	width: 100%;
}

.dragon {
	background-color: #e4c22a;
	float: left;
	text-align: center;
	font-size: 11px;
	width: 100%;
}

.dragon img {
	width: 40%;
	padding-left: 0%;
}

.goat {
	background-color: #222;
	float: left;
	text-align: center;
	font-size: 11px;
	width: 100%;
	color: #fff;
}

.goat img {
	width: 40%;
	padding-left: 0%;
}

.rooster {
	background-color: #bc0017;
	float: left;
	text-align: center;
	font-size: 11px;
	width: 100%;
	color: #fff;
}

.rooster img {
	width: 40%;
	padding-left: 0%;
}

.ox {
	background-color: #e4c22a;
	float: left;
	text-align: center;
	font-size: 11px;
	width: 100%;
}

.ox img {
	width: 40%;
	padding-left: 0%;
}


